button,
a {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    display: block;
    touch-action: manipulation;
    text-decoration: inherit;
    will-change: transform;
}

button:active {
    transform: scale(0.95);
}
