@import '../../../variables.scss';
.icon-btn {
    color: $accent-background-color;
    transition: $transition;
}

.icon-btn:focus,
.icon-btn:hover {
    color: $accent-bleached-color;
}

.icon-btn {
    // padding: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

@media (min-width: $media-tablet-screen-width) {
    .icon-btn {
        // padding: 1.125rem;
        width: 1.125rem;
        height: 1.125rem;
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
}
