@import '../../variables.scss';
.error__title {
    position: fixed;
    top: 45%;
    left: 50%;
    font-size: clamp(5rem, 8vw, 10rem);
    letter-spacing: 1.5rem;
    font-family: $main-font;
    color: $bright-font-color;
    margin: 0;
    transform: translate(-50%, -50%);
}
