$main-font: "Lab Grotesque", sans-serif;
$main-font-color: #000000;
$secondary-font-color: #808080;
$bright-font-color: #ffffff;
$accent-background-color: #ea0029;
$accent-shadow-color: rgba(234, 0, 41, 0.33);
$accent-bleached-color: #f53a31;
$blank-background-color: #ffffff;
$blank-shadow-color: #cfdae7;
$border-color: #dfe3e6;
$background-linear-gradient: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
$disabled-color: #bec5cc;
$attention-color: #ea0029;
$screenblock-color: rgba(0, 0, 0, 0.3);
$animation-speed: 300ms;
$animation-timing: cubic-bezier(0.64, 0.1, 0.61, 0.99);
$transition: $animation-speed $animation-timing;
$media-tablet-screen-width: 768px;
$media-desktop-screen-width: 1440px;
